@media screen and (max-width:576px) {
    /* Navbar Start */
    .nav-logo h3{
        display: none;
    }
    .nav-menu{
        display: none;
    }
    .menu-btn{
        display: none;
    }
    .nav{
        border-bottom:0.5px solid rgb(254, 163, 1);
        padding: 16px;
    }
    .menu-icon{
        display: block;
        font-size: 40px;
        cursor: pointer;
    }
    /* Navbar End */
    /* banner section start */
    .banner-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        
        justify-content: center;
      }
      .banner-img img{
        width: 100%;
      }
      .banner-content{
        text-align: center;
      }
      .curriculum-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 29px;
      }
      .slide-btn{
        display: none;
      }
      .stories-card-container {
        display: grid;
        grid-template-areas:
          " c2 c3"
          " c4 c5";
        gap: 19px;
        padding: 20px 0px;
      }
      .c1{
        display: none;
      }
      #stbtn2, #stbtn3, #stbtn4, #stbtn5{
        font-size: 9.13px;
        margin-left: 18px;
      }
}